/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

/* --- Fonts --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  background-color: rgb(30, 30, 30);
}
h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
}



.banner {
  height: 100vh;
  background: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url("content/FB_IMG_1521308931057.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner h1 {
  font-size: 50px;
  font-weight: bolder;
}

.banner p {
  font-size: 30px;
  font-weight: lighter;
}

.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: rgb(0, 21, 28);
}

.btn-treehouse:hover {
  opacity: 1;
  background: rgb(211, 249, 84);
  text-decoration: none;
  color: white;
}

.card {
  position: relative;
  height: 250px;
  background: linear-gradient(-225deg, rgb(30, 30, 30) 30%, rgba(0, 21, 28, 0.5) 80%);
  background-size: cover;
  color: white;
}

.card-user {
  position: absolute;
  height: 90%;
  top: 10px;
  right: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.product img {
	height: 240px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease;
  border-radius: 3px;
  background-color: rgba(0, 21, 28, 0.5);
}

.product:hover {
  background: rgb(240, 240, 240);
}

.product:hover .product-upvote {
  font-size: 25px;
}

.product-upvote {
  font-size: 20px;
  padding: 20px;
  transition: all 0.3s ease;
}

.product-description {
  flex: 1 0 auto;
  padding: 20px;
}
.product-controls a {
  font-size: 15px;
  color: #CCCCCC;
}

.tabs {
  background: rgb(25, 25, 25);
  color: white;
  display: flex;
  padding: 10px 0 0 0;
}

.tabs h3 {
  font-size: 17px;
}

.tabs p {
  opacity: 0.5;
}

.tabs-item {
  background: rgb(0, 21, 28);
  flex: 0 0 25%;
  text-align: center;
  padding: 10px;  
}

.tabs-item:first-child {
  border-radius: 10px 0 0 0;
}
.tabs-item:last-child {
  border-radius: 0 10px 0 0;
}

.tabs-item.active {
  background: ;
  color: white;
}

a {
	color: white;
}

a:hover {
	color: white;
	font-weight: bolder;
	text-decoration: none;
}

.contact {
	


}

.contact-item {
  
}
